torch~=2.4.1
torchvision~=0.19.1
packaging~=24.2
numpy~=1.24.4
matplotlib~=3.7.5
ipython~=8.12.3
setuptools~=68.2.0
h5py~=3.11.0
opencv-python~=4.10.0.84
detr~=0.0.0
PyYAML~=6.0.2
tqdm~=4.67.0
six~=1.16.0
pillow~=10.4.0
einops~=0.8.0
pyquaternion~=0.9.9